body{
    overflow-x: hidden;
}

.projects-view{
    min-width: fit-content;
    height:fit-content;
    text-align: center;
    margin-bottom: 5vh;
}

.projects-view h2{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.projects-view h3{
    margin-bottom: 0;
}

.projects-view p{
    color: #9c9c9c;
}

.project-date{
    margin-top: 0;
}

.info-block{
    animation: fadeInAnimation 1.75s;
    animation-fill-mode: both;
    background-color: #181818;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 33vw;
    border-radius: 20px;
    padding: 1.2%;
    margin: auto;
    margin-top: 4vh;
    transition: 0.5s;
}

.info-block h4{
    margin-bottom: 0;
}

.info-block:hover{
    box-shadow: 0px 8px 16px 0px rgba(0, 128, 128,0.2);

}

.skills{
    display: flex;
    justify-content: space-evenly;
}.skills p:hover{
    transition: 0.25s;
    color: white;
    user-select: none;
}

@media only screen and (max-width: 700px){
    .wrapper{
        display: block;
    }

    .info-block{
        margin-top: 2vh;
        width: 92vw;

    }

    .projects-view i{
        margin-bottom: 10px;
    }
}