html {
	scroll-behavior: smooth;
    height: 100%;
    width: 100%;

}body{
    background-color: #212223;
    color: white;
    margin: 0;
    height: 100%;
    width: 100%;
}


/*  */
/* NAVBAR CSS*/
/*  */
.navbar{
    background-color: #181818;
    font-size: 20px; /*use vw for responsive text size*/
    align-items: center;
}.navlist{ /*ul of items in navbar*/
    margin-top: 0;
    margin-bottom: 0;
    max-height: 10vh;
    min-width: 95vw;
    padding-left: 1vw;
    list-style: none;
    position: relative;
}a:link, a:visited{
    text-decoration: none;
}a:hover{
    color: white;
}
.nav-link{
    color: #9c9c9c;
    padding: 10px;
    position: relative;
    user-select: none;
}
.nav-link::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background-color: teal;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
}.nav-link:hover::after{
    width: 100%;
}
/*home icon on top left*/
#home{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}#home-link{
    padding: 10px;
}
/* Dropdown functionality and styling */
.dropbtn {
    background-color: #181818;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 16px;
    font-size: 20px;
    border: none;
    align-items: center;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #181818;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
font-size: 16px;
padding: 12px 16px;
text-decoration: none;
display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #343536;
}
.dropdown:hover .dropdown-content {
    display: block;
}


/*  */
/* FOOTER CSS*/
/*  */
.footer{
    background-color: #181818;
    left: 0;
    bottom: 0;
    height: 15vh;
    width: 100%;
    display: flex;
}.social-icons{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}.footer-mail{
    width: 100%;
    line-height: 15vh;
    text-align: center;
}#footer-email{
    margin: 0;
    font-size: larger;
}
i{
    color:#9c9c9c;
    padding: 10px;
}i:hover{
    cursor: pointer;
    color: white;
}.footer-top{
    width: 100%;
    text-align: center;
    line-height: 15vh;
}.social-nav{ /* THIS IS FOR NAVBAR BUT IT DOESNT WORK UNLESS UNDER .social-icons */
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
     }
}

@media only screen and (max-width: 700px){
    #footer-email{
        font-size: small;
    }
    
    .navlist{
        min-height: 6vh;
    }

    .navlist{
        display: flex;
        align-items: center;
        
    }
    .navbar, .nav-link{
        font-size: 10px;
    }
    .nav-link{
        padding: 2px;
        margin-left: 5px;
    }

    .dropbtn{
        padding: 2px;
        font-size: 10px;
    }

    .social-icons{
        padding: 0;
        margin-left: auto;
        margin-right: 2vw;
    }

    .footer-top{
        display:none;
    }
}